html, body { 
    margin: 0;
    padding: 0;
    background-color: rgb(206, 206, 206);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.font-white {
    color: white;
}

/* Header */

.bc-blue {
    background-color: rgb(33, 33, 136);
}

.enlaces-header { 
    display: flex;
    flex-direction: column;
    
}

.enlaces-header .envios-cuotas {
    height: 20px;
    margin: auto;
        
}

@media only screen and (min-width: 769px) {
    .enlaces-header {
        flex-direction: row;
    }
}

/*  Nav */

.contendor-nav {
    background-color:rgb(175, 174, 174);
    display: flex;    
    flex-direction: column;

}
.contendor-nav .item-nav {
    margin: auto;  
}

@media only screen and (min-width: 769px) {
    .contendor-nav {
        flex-direction: row;
    }
}

.contenedor-img a {
    color: black;    
}

.hw-img-home img{
    height: 70px;
    width: 140px;
}

.enlaces-sucursales {
    height: 30px;
}

.font-size {
    font-size: 20px;
}

.font-size-logo {
    font-size: 30px;
}

.enlaces-text-decoration-none {
    text-decoration: none;
}

/*Img central*/

.hw-imagen-central {
    width: 100%;
    height: 350px;
}

.main-section {
    margin-left: 20px;
    margin-right: 20px;
}

.main-section .title {
    border-bottom: 1px solid black;
}

/*Lista productos*/

.contedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.contedor-productos .producto {
    background-color: rgb(255, 255, 255);
    width: 70%;
    border-radius: 15px;    
}

@media only screen and (min-width: 768px) {
    .contedor-productos .producto {
        width: 40%;
    }
}

.producto .element{
    display: flex;
    justify-content: center;
}

.element {
    text-align: center;
}


.hw-imagen-producto img {
    width: 50%;
    height: 200px;    
}



.bc-green {
    background-color: green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
}

.color-font-white {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.bc-grey {
    background-color: gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
}

.nombre-producto {
    font-size: 30px;
}

.no-margin {
    margin: 0;
}

.precio-tachado-sin-stock {
    text-decoration: line-through 2px solid black;
    color: gray;
}

/*Footer*/

footer {
    background-color:rgb(33, 33, 136);
    width: 100%;
    height: 100px;
    
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}


/*Vista Producto*/
.contedor-producto {
    height: 950px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.descripcion-articulo {
    height: 950px;
    width: 60%;
    background-color: white;    
    margin-top: 20px;
}

.datos-pagos {
    height: 300px;
    width: 30%;
    background-color: white;
    
    margin-top: 20px;
}

.border-radius {
    border-radius: 15px;
}

.img-producto img {
    height: 420px;
    width: 40%;
    display: block;
    margin: auto;
}

.tarjetas-credito{
    display: inline-block;
}

.tarjetas-credito img{
    width: 50px;
    height: 50px;
}

.enlace-abajo {
    margin-top: 50px;
}

.contenedor-sucursales {
    height: 950px;
    width: 95%;
}

.box-sucursal {
    height: 300px;
    background-color: white;
    border-radius: 10px;
    
}

.margin-top {
    margin-top: 20px;
}

.hwb-mapa {
    width: 400px;
    height: 200px;
    border: none;
}

.datos-sucursal, .mapa-sucursal {
    display: inline-block;
    vertical-align: middle;
    width: 600px;
}

.inline-block {
    display: inline-block;
}